[Desktop Entry]
Name=Bluetooth
Name[af]=Bluetooth
Name[ar]=بلوتوث
Name[as]=ব্লু-টুথ
Name[ast]=Bluetooth
Name[be]=Bluetooth
Name[bg]=Bluetooth
Name[bn]=ব্লু-টুথ
Name[bn_IN]=ব্লু-টুথ
Name[ca]=Bluetooth
Name[cs]=Bluetooth
Name[da]=Bluetooth
Name[de]=Bluetooth
Name[el]=Bluetooth
Name[en_GB]=Bluetooth
Name[es]=Bluetooth
Name[et]=Bluetooth
Name[eu]=Bluetooth
Name[fi]=Bluetooth
Name[fr]=Bluetooth
Name[ga]=Bluetooth
Name[gl]=Bluetooth
Name[gu]=બ્લુટુથ
Name[he]=Bluetooth
Name[hi]=ब्लूटूथ
Name[hu]=Bluetooth
Name[id]=Bluetooth
Name[it]=Bluetooth
Name[ja]=Bluetooth
Name[ka]=ლურჯი კბილი
Name[kn]=ಬ್ಲೂಟೂತ್‌
Name[ko]=블루투스
Name[lt]=Bluetooth
Name[lv]=Bluetooth
Name[mai]=ब्लूटूथ
Name[ml]=ബ്ലൂടൂത്
Name[mn]=Блүтүүт
Name[mr]=Bluetooth
Name[ms]=Bluetooth
Name[nb]=Bluetooth
Name[nl]=Bluetooth
Name[or]=ବ୍ଲୁଟୁଥ
Name[pa]=ਬਲਿਊਟੁੱਥ
Name[pl]=Bluetooth
Name[pt]=Bluetooth
Name[pt_BR]=Bluetooth
Name[ro]=Bluetooth
Name[ru]=Bluetooth
Name[sl]=Bluetooth
Name[sr]=Блутут
Name[sr@latin]=Blutut
Name[sv]=Bluetooth
Name[ta]=ப்ளூடூத்
Name[te]=బ్లూటూత్
Name[th]=บลูทูท
Name[tr]=Bluetooth
Name[uk]=Bluetooth
Name[vi]=Bluetooth
Name[zh_CN]=蓝牙
Name[zh_HK]=藍牙
Name[zh_TW]=藍牙
Comment=Configure Bluetooth settings
Comment[af]=Stel Bluetooth op
Comment[ar]=اضبط إعدادات البلوتوث
Comment[as]=ব্লু-টুথ সংক্ৰান্ত বৈশিষ্ট্য বিন্যাস কৰক
Comment[ast]=Configurar opciones de Bluetooth
Comment[be]=Наладка настаўленьняў Bluetooth
Comment[bg]=Настройване на Bluetooth
Comment[bn]=ব্লু-টুথ সেটিং কনফিগার করুন
Comment[bn_IN]=ব্লু-টুথ সংক্রান্ত বৈশিষ্ট্য কনফিগার করুন
Comment[ca]=Configura els paràmetres del Bluetooth
Comment[cs]=Nastavit volby Bluetooth
Comment[da]=Konfigurér Bluetooth-opsætning
Comment[de]=Bluetooth-Einstellungen bearbeiten
Comment[el]=Ρύθμιση επιλογών Bluetooth
Comment[en_GB]=Configure Bluetooth settings
Comment[es]=Configurar opciones de Bluetooth
Comment[et]=Bluetoothi häälestamine
Comment[eu]=Konfiguratu Bluetooth-aren ezarpenak
Comment[fi]=Muuta Bluetooth-asetuksia
Comment[fr]=Configuration des paramètres Bluetooth
Comment[ga]=Cumraigh socruithe Bluetooth
Comment[gl]=Configurar as opcións de Bluetooth
Comment[gu]=બ્લુટુથ સુયોજનો ને રૂપરેખાંકિત કરો
Comment[he]=עורך את הגדרות ה־Bluetooth
Comment[hi]=ब्लूटूथ सेटिंग विन्यस्त करें
Comment[hr]=Uredi postavke Bluetootha
Comment[hu]=A Bluetooth beállítások módosítása
Comment[id]=Atur konfigurasi Bluetooth
Comment[it]=Configura le impostazioni Bluetooth
Comment[ja]=Bluetoothの設定の変更
Comment[ka]=ლურჯი კბილის პარამეტრების კონფიგურაცია
Comment[kn]=ಬ್ಲೂಟೂತ್‌ ಸಿದ್ಧತೆಗಳನ್ನು ಸಂರಚಿಸಿ
Comment[ko]=블루투스 설정
Comment[lt]=Konfigūruoti Bluetooth parametrus
Comment[lv]=Konfigurēt Bluetooth uzstādījumus
Comment[ml]=ബ്ലൂടൂത് സജ്ജീകരണങ്ങള്‍ ക്രമീകരിക്കുക
Comment[mn]=Блүтүүтийн тохиргоог тохируулах
Comment[mr]=Bluetooth संयोजना संयोजीत करा
Comment[nb]=Konfigurer innstillinger for Bluetooth
Comment[nl]=Bluetooth voorkeuren aanpassen
Comment[or]=ବ୍ଲୁଟୁଥ ସଂରଚନାକୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=ਬਲਿਊਟੁੱਥ ਸੈਟਿੰਗ ਸੰਰਚਨਾ
Comment[pl]=Konfiguracja ustawień Bluetooth
Comment[pt]=Configurar as definições do Bluetooth
Comment[pt_BR]=Configurar as propriedades de Bluetooth
Comment[ro]=Configurează parametrii Bluetooth
Comment[ru]=Настройка параметров Bluetooth
Comment[sk]=Nastavenie vlastností Bluetooth
Comment[sl]=Nastavitve za Bluetooth
Comment[sr]=Измени подешавања за Блутут
Comment[sr@latin]=Izmeni podešavanja za Blutut
Comment[sv]=Konfigurera blåtandsinställningar
Comment[ta]=கட்டமைக்கப்பட்ட ப்ளூடூத் அமைவுகள்
Comment[te]=బ్లూటూత్ అమరికలను ఆకృతీకరించుము
Comment[th]=ตั้งค่าบลูทูท
Comment[tr]=Bluetooth Seçeneklerini Ayarla
Comment[uk]=Налаштувати параметри Bluetooth
Comment[vi]=Cấu hình cho Bluetooth
Comment[zh_CN]=配置蓝牙设定
Comment[zh_HK]=調整藍牙設定
Comment[zh_TW]=調整藍牙設定
Icon=bluetooth
Exec=blueberry
Terminal=false
Type=Application
Categories=GTK;GNOME;Settings;HardwareSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
StartupNotify=true
NotShowIn=GNOME;KDE;Unity;
