[Desktop Entry]
Name=Bluetooth
Name[am]=ብሉቱዝ
Name[ar]=البلوتوث
Name[as]=ব্লুটুথ
Name[az]=Blutuz
Name[ber]=ⴰⴱⵍⵓⵜⵓⵜ
Name[bg]=Блутут
Name[bn]=ব্লুটুথ
Name[eo]=Bludento
Name[eu]=Bluetooth-a
Name[fa]=بلوتوث
Name[hi]=ब्लूटूथ
Name[is]=Bluetooth (blátönn)
Name[ka]=Bluetooth-ი
Name[km]=ប្ល៊ូធូស
Name[kn]=ಬ್ಲೂಟೂತ್
Name[ko]=블루투스
Name[lo]=ບລູທູດ
Name[mai]=ब्लूटूथ
Name[ml]=ബ്ലുടൂത്ത്
Name[mn]=Блүтүүт
Name[mr]=ब्ल्यूटूथ
Name[nb]=Blåtann
Name[ne]=ब्लुटुथ
Name[nn]=Blåtann
Name[or]=ବ୍ଲୁଟୁଥ
Name[pa]=ਬਲੂਟੂਥ
Name[shn]=ၸၢတ်ႇၸိတ်ႇ
Name[sr]=Блутут
Name[sr@ijekavian]=Блутут
Name[ta]=புளூடூத்
Name[th]=บลูทูธ
Name[tt]=Bluetoth
Name[ug]=كۆكچىش
Name[ur]=بلیو ٹوتھ
Name[xh]=I-Bluetooth
Name[zgh]=ⴰⴱⵍⵓⵜⵓⵜ
Name[zh_CN]=蓝牙
Name[zh_HK]=藍牙
Name[zh_TW]=藍牙
Name[zu]=I-Bluetooth
Comment=Configure Bluetooth settings
Comment[af]=Stel Bluetooth op
Comment[am]=የ ብሉቱዝ ማሰናጃዎች ማዋቀሪያ
Comment[ar]=تكوين إعدادات بلوتوث
Comment[az]=Bluetooth tənzimləmələrini quraşdır
Comment[be]=Наладка Bluetooth
Comment[bg]=Настройки на Bluetooth
Comment[bn]=ব্লু-টুথ সেটিংস কনফিগার করুন
Comment[bs]=Konfiguriši Bluetooth postavke
Comment[ca]=Configureu els ajusts de Bluetooth
Comment[ca@valencia]=Configura els paràmetres del Bluetooth
Comment[cs]=Nastavení Bluetooth
Comment[cy]=Ffurfweddu gosodiadau Bluetooth
Comment[da]=Konfigurér Bluetooth-indstillinger
Comment[de]=Bluetooth-Einstellungen bearbeiten
Comment[el]=Διαμόρφωση ρυθμίσεων Bluetooth
Comment[eo]=Ŝanĝi Bludento-agordojn
Comment[es]=Configurar las opciones del Bluetooth
Comment[et]=Bluetooth'i sätete häälestamine
Comment[eu]=Konfiguratu Bluetooth-aren ezarpenak
Comment[fi]=Säädä Bluetooth-asetuksia
Comment[fr]=Configurer les paramètres Bluetooth
Comment[fr_CA]=Configurer les paramètres Bluetooth
Comment[gd]=Rèitich na roghainnean Bluetooth
Comment[gl]=Configurar os axustes do Bluetooth
Comment[he]=הגדרת תצורת ה־Bluetooth
Comment[hi]=ब्लूटूथ सेटिंग्स विन्यस्त करें
Comment[hr]=Uredi Bluetooth postavke
Comment[hu]=Bluetooth beállítások módosítása
Comment[hy]=Կարգավորել Bluetooth–ի պարամետրերը
Comment[ia]=Configurar le preparationes del Bluetooth
Comment[id]=Konfigurasi pengaturan Bluetooth
Comment[ie]=Configurar parametres de Bluetooth
Comment[is]=Stilla Bluetooth-uppsetningu
Comment[it]=Configura le impostazioni Bluetooth
Comment[ja]=Bluetooth の設定を変更します
Comment[kab]=Swel iɣewwaṛen n Bluetooth
Comment[kk]=Bluetooth баптаулары
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ការ​កំណត់​ប្ល៊ូធូស
Comment[ko]=블루투스를 설정합니다
Comment[ku]=Mîhengên Bluetooth ava bike
Comment[la]=Bluetooth configurationem mutare
Comment[li]=Bluetooth-instellingen configureren
Comment[lo]=ກົນົດຄ່າຕັ້ງຂອງບລູທູດ
Comment[lt]=Konfigūruoti Bluetooth nustatymus
Comment[lv]=Konfigurēt Bluetooth iestatījumus
Comment[mai]=ब्लूटूथ सेटिंग्स मिलाउ
Comment[ml]=ബ്ലൂടൂത്ത് സജ്ജീകരണങ്ങള്‍ ക്രമീകരിക്കുക
Comment[mr]=ब्ल्युटूथ सेटिंग्स् संरचीत करा
Comment[ms]=Konfigur tetapan Bluetooh
Comment[nap]=Acconcia l'impostazion d''o Bluetooth
Comment[nb]=Konfigurer innstillinger for blåtann
Comment[nds]=Bluetooth Einstellungen Konfigurieren
Comment[ne]=ब्लुटुथ सेटिंग्स मिलाउनुहोस्
Comment[nl]=Bluetooth-instellingen wijzigen
Comment[nn]=Set opp blåtann
Comment[oc]=Configurar los paramètres del Bluetooth
Comment[or]=ବ୍ଲୁଟୁଥ ସେଟିଂଗର ପରିବର୍ତ୍ତନ କରନ୍ତୁ
Comment[pap]=Konfigura Bluetooth
Comment[pl]=Konfiguracja ustawień Bluetooth
Comment[pt]=Configurar definições de Bluetooth
Comment[pt_BR]=Definir configurações de bluetooth
Comment[ro]=Configurează setările Bluetooth-ului
Comment[ru]=Настроить параметры Bluetooth
Comment[sk]=Konfiguruje nastavenia Bluetooth
Comment[sl]=Nastavitve za Bluetooth
Comment[sq]=Konfiguro parametrat e Bluetooth-it
Comment[sr]=Измените подешавања Блутута
Comment[sr@ijekavian]=Измјените подешавања Блутута
Comment[sr@latin]=Bluetooth podešavanja
Comment[sv]=Konfigurera bluetoothinställningar
Comment[szl]=Kōnfiguracyjo sztelōnkōw Bluetooth
Comment[ta]=ப்ளூடூத் அமைப்புகளை வடிவமை
Comment[tg]=Танзимоти хусусиятҳои Bluetooth
Comment[th]=กำหนดค่าตั้งบลูทูธ
Comment[tr]=Bluetooth ayarlarını yapılandır
Comment[tt]=Bluetooth-ны көйләү
Comment[uk]=Налаштувати параметри Bluetooth
Comment[ur]=بلوٹوتھ ترتیبات تشکیل دیں
Comment[uz]=Bluetooth moslamalarini sozlash
Comment[vi]=Thiết lập cấu hình cho Bluetooth
Comment[zh_CN]=配置蓝牙设置
Comment[zh_HK]=配置藍牙設定
Comment[zh_TW]=調整藍牙設定
Comment[zu]=Lungiselela izilungiselelo ze-Bluetooth
Icon=bluetooth
Exec=blueberry
Terminal=false
Type=Application
Categories=GTK;GNOME;Settings;HardwareSettings;X-XFCE-SettingsDialog;X-XFCE-HardwareSettings;
StartupNotify=true
NotShowIn=GNOME;KDE;Unity;
